.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.image {
    position: relative;
    margin-bottom: 25px;
    img {
        border-radius: 8px;
        width: 250px;
    }
    .productNoSelected,
    .productSelected {
        width: 160px;
        height: 43px;
        font-weight: 600;
        border-radius: 30px;
        position: absolute;
        top: 98%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
    }
    .productNoSelected {
        border: 1px solid hsl(7, 20%, 60%);
        justify-content: center;

        cursor: pointer;
        &:hover {
            color: hsl(14, 86%, 42%);

            border: 1px solid hsl(14, 86%, 42%);
        }
        &::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' fill='none' viewBox='0 0 21 20'%3E%3Cg fill='%23C73B0F' clip-path='url(%23a)'%3E%3Cpath d='M6.583 18.75a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5ZM15.334 18.75a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5ZM3.446 1.752a.625.625 0 0 0-.613-.502h-2.5V2.5h1.988l2.4 11.998a.625.625 0 0 0 .612.502h11.25v-1.25H5.847l-.5-2.5h11.238a.625.625 0 0 0 .61-.49l1.417-6.385h-1.28L16.083 10H5.096l-1.65-8.248Z'/%3E%3Cpath d='M11.584 3.75v-2.5h-1.25v2.5h-2.5V5h2.5v2.5h1.25V5h2.5V3.75h-2.5Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M.333 0h20v20h-20z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            margin-right: 8px;
        }
    }

    .productSelected {
        color: hsl(20, 50%, 98%);
        justify-content: space-between;
        background-color: hsl(14, 86%, 42%);
        border: 1px solid hsl(14, 86%, 42%);
        padding: 0 10px;
        .decButton,
        .incButton {
            width: 20px;
            height: 20px;
            border: 1px solid hsl(20, 50%, 98%);

            border-radius: 50%;
            background-color: hsl(14, 86%, 42%);
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;

            &:hover {
                background-color: hsl(20, 50%, 98%);
            }
        }
        .decButton {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='2' fill='none' viewBox='0 0 10 2'%3E%3Cpath fill='%23fff' d='M0 .375h10v1.25H0V.375Z'/%3E%3C/svg%3E");
            &:hover {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='2' fill='none' viewBox='0 0 10 2'%3E%3Cpath fill='hsl(14, 86%25, 42%25)' d='M0 .375h10v1.25H0V.375Z'/%3E%3C/svg%3E");
            }
        }

        .incButton {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='none' viewBox='0 0 10 10'%3E%3Cpath fill='%23fff' d='M10 4.375H5.625V0h-1.25v4.375H0v1.25h4.375V10h1.25V5.625H10v-1.25Z'/%3E%3C/svg%3E");
            &:hover {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='none' viewBox='0 0 10 10'%3E%3Cpath fill='hsl(14, 86%25, 42%25)' d='M10 4.375H5.625V0h-1.25v4.375H0v1.25h4.375V10h1.25V5.625H10v-1.25Z'/%3E%3C/svg%3E");
            }
        }
    }
}

.type {
    font-size: 14px;
    color: hsl(12, 20%, 44%);
}
.title {
    font-weight: 600;
}
.price {
    margin-top: -3px;
    font-weight: 600;

    color: hsl(14, 86%, 42%);
}

@media only screen and (max-width: 376px) {
    .image {
        img {
            width: 327px;
            height: 212px;
            object-fit: cover;
        }
    }
}
